SERVICE_NAME=event-api
HOST=0.0.0.0
PORT=8012
DEBUG=true
DJANGO_SECRET_KEY=local-dev-secret
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3

LOG_LEVEL=INFO
